---
import Aside from "../../../components/Aside.astro";
import Blurb from "../../../components/Blurb.astro";
import DropBar from "../../../components/DropBar.astro";
import Header from "../../../components/Header.astro";
import ArtsTab from "../../../components/main/ArtsTab.astro";
import BlogsTab from "../../../components/main/BlogsTab.astro";
import ProjectsTab from "../../../components/main/ProjectsTab.astro";
import Stack from "../../../components/main/Stack.astro";
import Modal from "../../../components/Modal.astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import "../../../styles/global.css";
import "../../../styles/utils.css";

// data imports
import { projects } from "../../../data/project";
import { user } from "../../../data/user";

export async function getStaticPaths() {
  return projects.map((project) => ({
    params: { project: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;

const projectData = projects.find((p) => p.id === project.id);

if (!projectData) {
  return Astro.redirect("/404");
}

const tabs = ["projects", "blogs", "arts", "tech stack"];
const activeTab = "projects";
const capitalize = (str: string): string =>
  str.charAt(0).toUpperCase() + str.slice(1);
---

<MainLayout title={`Project: ${projectData.title}`} projectId={project.id}>
  <DropBar {...user} />
  <div class="grid" transition:animate="fade">
    <Header {...user} />

    <nav class="main-nav">
      <div class="tabs main-nav__left" id="tab-container">
        {
          tabs.map((t) => (
            <button
              data-tab={t}
              class={activeTab === t ? "active" : ""}
              aria-selected={activeTab === t}
              role="tab"
            >
              {capitalize(t)}
            </button>
          ))
        }
        <div class="tab-underline" id="tab-underline"></div>
      </div>

      <section class="main-nav__right">
        <Blurb />
      </section>
    </nav>
  </div>

  <div class="main-grid">
    <main class="layout__main" transition:persist>
      <div id="tab-content" class="tab-content">
        <div id="projects-content" class="tab-pane" style="display: block;">
          <ProjectsTab withoutImage={true} projectId={project.id} />
        </div>
        <div id="blogs-content" class="tab-pane" style="display: none;">
          <BlogsTab />
        </div>
        <div id="tech-stack-content" class="tab-pane" style="display: none">
          <Stack />
        </div>
        <div id="arts-content" class="tab-pane" style="display: none;">
          <ArtsTab />
        </div>
      </div>
    </main>

    <Aside />
  </div>

  <section class="mobile-content">
    <Aside />
    <ProjectsTab withoutImage={true} projectId={project.id} />
    <Stack />
    <BlogsTab />
    <ArtsTab />
  </section>

  <Modal projectId={project.id} withoutImage={true} />
</MainLayout>
<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 357px;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "main-nav main-nav";
    gap: 1rem;
    width: clamp(47.125rem, 88vw, 75.5rem);
    margin: 1rem auto;
    /* min-height: 100vh; */
  }

  .main-grid {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 357px;
    width: clamp(47.125rem, 88vw, 75.5rem);
    grid-template-areas: "main aside";
    margin: 1rem auto;
  }

  .main-nav {
    grid-area: main-nav;
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .main-nav__left {
    flex: 2;
    display: flex;
    gap: 1rem;
  }

  .main-nav__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .layout__main {
    grid-area: main;
    margin-right: 3rem;
  }

  .tabs {
    position: relative;
    display: flex;
    gap: 3rem;
  }

  .tabs button {
    position: relative;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #999999;
  }

  .tabs button.active,
  .tabs button:hover {
    color: white;
  }

  .tab-underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    background: white;
    transition: all 0.3s ease;
    width: 0;
    left: 0;
  }

  .mobile-content {
    display: none;
  }

  @media (max-width: 800px) {
    .grid {
      display: block;
      width: 393px;
    }
    .main-nav {
      display: none;
    }
    .main-grid {
      display: none;
    }

    .mobile-content {
      display: block;
      width: 393px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0 1rem;
      margin-bottom: 4rem;
    }
  }
</style>
