---
import { arts } from "../../data/art";

interface Props {
  withoutImage?: boolean;
  artId?: string;
}

const { withoutImage, artId } = Astro.props;
---

<div class="gallery-grid" transition:name={`art-overlay`}>
  {
    arts.map((art) => (
      <div>
        {withoutImage && artId === art.id ? (
          <div class="card">
            <img class="image-s" src={art.src} alt={art.id} />
          </div>
        ) : (
          <div class="card" transition:name={`art-wrapper-${art.id}`}>
            <a href={`/home/arts/${art.id}`}>
              <img
                class="image"
                src={art.src}
                alt={art.id}
                transition:name={`art-image-${art.id}`}
              />
            </a>
          </div>
        )}
      </div>
    ))
  }
</div>

<style>
  .gallery-grid {
    columns: 10rem;
    column-gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  /* @media (min-width: 768px) {
    .gallery-grid {
      columns: 4;
    }
  } */

  .card {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    break-inside: avoid;
  }

  .image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;
  }

  .image-s {
    opacity: 0;
  }

  .opacity-zero {
    opacity: 0;
  }
</style>
