---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import { slugify } from "../../utils/utils";

interface Props {
  posts?: CollectionEntry<"blog">[];
}

const posts = await getCollection("blog");
---

<div class="blogs-tab">
  <div class="blog-grid">
    <p>
      <span class="italic-text"
        >P.S. Wrote this a few months ago but only publishing it now while
        trying to make this portfolio look presentable</span
      > 😅.
    </p>
    {
      posts?.map((post) => {
        const slug = slugify(post.data.title);
        return (
          <a href={`/home/blogs/${slug}`} class="post-card">
            <div class="post-card-content">
              <div>
                <h3 class="post-card-title">{post.data.title}</h3>
                {post.data.description && (
                  <p class="post-card-description">{post.data.description}</p>
                )}
                <br />
              </div>
            </div>
            {post.data.cover && (
              <div class="post-card-image">
                <Image
                  src={post.data.cover}
                  alt={post.data.coverAlt || post.data.title}
                  width={300}
                  height={200}
                  format="webp"
                  transition:name={`blog-image-${slug}`}
                />
              </div>
            )}
          </a>
        );
      })
    }
  </div>

  <!-- TODO: add mobile version,  -->

  <section class="blogs--mobile">
    <div class="blog__header">
      <h2 class="post-card-title">
        Blogs <span class="blogs__header-count">{`(${posts.length})`}</span>
      </h2>
    </div>

    {
      posts?.map((post) => {
        const slug = slugify(post.data.title);
        return (
          <a href={`/home/blogs/${slug}`} class="post-card">
            <div class="post-card-content">
              <div>
                <span class="post-card-text">
                  <strong>{post.data.title}</strong> - {post.data.description}
                </span>
              </div>
            </div>
            {post.data.cover && (
              <div class="post-card-image">
                <Image
                  src={post.data.cover}
                  alt={post.data.coverAlt || post.data.title}
                  width={300}
                  height={200}
                  format="webp"
                  transition:name={`blog-image-${slug}`}
                />
              </div>
            )}
          </a>
        );
      })
    }
  </section>
</div>
<style>
  .blog-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
    background-color: rgba(249, 249, 249, 0.07);
    /* background-color: rgba(0, 0, 0, 0.12); */
    border-radius: 1.5rem;
  }

  .italic-text {
    font-style: italic;
  }

  .blog-grid > p {
    font-size: 0.875rem;
    color: gray;
    text-transform: lowercase;
  }

  .post-card {
    color: black;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    text-decoration: none;
    color: inherit;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }

  .post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .post-card-image {
    grid-column: span 2;
  }

  .post-card-image img {
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 0.5px solid rgb(68, 68, 68);
    object-fit: cover;
  }

  .post-card-content {
    grid-column: span 7;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
  }

  .post-card-content div {
    height: 100%;
    border-bottom: 0.8px solid transparent;
    border-image: repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.45) 8px,
      transparent 8px,
      transparent 10px
    );
    border-image-slice: 1;
    margin-right: 0.75rem;
  }

  .post-card-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    font-weight: 600;
  }

  .post-card-description {
    font-size: 1rem;
    line-height: 1.4;
    color: rgb(173, 173, 173);

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .blogs--mobile {
    display: none;
  }

  .blogs__header-count {
    font-size: 0.875rem;
    font-weight: 500;
  }

  @media (max-width: 50em) {
    .blog-grid {
      display: none;
    }

    .post-card-content {
      padding: 0;
      grid-column: span 6;
    }

    .post-card-image {
      grid-column: span 3;
    }

    .blogs--mobile {
      display: flex;
      background-color: white;
      color: gray;
      flex-direction: column;
      padding: 0.75rem;
      border-radius: 1.5rem;
    }
    .post-card {
      padding: 1rem 0;
      margin: 0;
      border-bottom: 1px dashed #dbdbdb;
      border-image: repeating-linear-gradient(
          to right,
          #dbdbdb 0,
          #e4e4e4 10px,
          transparent 10px,
          transparent 16px
        )
        100% 1;
      border-image-slice: 1;
    }

    .post-card:last-of-type {
      padding-bottom: 0;
    }

    .post-card:last-child {
      border-bottom: none;
      border-image: none;
    }

    .post-card:hover {
      transform: none;
      box-shadow: none;
    }
    .post-card-title {
      color: rgb(0, 0, 0);
      margin: 0;
    }
    .post-card-text {
      font-size: 0.875rem;
      color: gray;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 4;
      line-clamp: 4;
    }
    .post-card-text > strong {
      color: rgb(79, 79, 79);
    }

    .post-card-image > img {
      height: 67px;
    }
  }
</style>
