---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import { slugify } from "../../utils/utils";

interface Props {
  posts?: CollectionEntry<"blog">[];
}

const posts = await getCollection("blog");
---

<div class="blogs-tab">
  <div class="blog-grid">
    <p>
      <span class="italic-text"
        >P.S. Wrote this a few months ago but only publishing it now while
        trying to make this portfolio look presentable</span
      > 😅.
    </p>

    {
      posts?.map((post) => {
        const slug = slugify(post.data.title);
        return (
          <a href={`/home/blogs/${slug}`} class="post-card">
            <div class="post-card-content">
              <div>
                <h3 class="post-card-title">{post.data.title}</h3>
                {post.data.description && (
                  <p class="post-card-description">{post.data.description}</p>
                )}
                <br />
              </div>
            </div>
            {post.data.cover && (
              <div class="post-card-image">
                <Image
                  src={post.data.cover}
                  alt={post.data.coverAlt || post.data.title}
                  width={300}
                  height={200}
                  format="webp"
                  transition:name={`blog-image-${slug}`}
                />
              </div>
            )}
          </a>
        );
      })
    }
  </div>
</div>

<style>
  .blog-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
    background-color: rgba(249, 249, 249, 0.07);
    /* background-color: rgba(0, 0, 0, 0.12); */
    border-radius: 1.5rem;
  }

  .italic-text {
    font-style: italic;
  }

  .blog-grid > p {
    font-size: 0.875rem;
    color: gray;
    text-transform: lowercase;
  }

  .post-card {
    color: black;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    text-decoration: none;
    color: inherit;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }

  .post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .post-card-image {
    grid-column: span 2;
  }

  .post-card-image img {
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 0.5px solid rgb(68, 68, 68);
    object-fit: cover;
  }

  .post-card-content {
    grid-column: span 7;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
  }

  .post-card-content div {
    height: 100%;
    border-bottom: 0.8px solid transparent;
    border-image: repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.45) 8px,
      transparent 8px,
      transparent 10px
    );
    border-image-slice: 1;
    margin-right: 1rem;
  }

  .post-card-title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }

  .post-card-description {
    font-size: 1rem;
    line-height: 1.4;
    color: rgb(173, 173, 173);

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
