---
import { projects } from "../../data/project";

interface Props {
  withoutImage?: boolean;
  projectId?: string;
}

const { withoutImage, projectId } = Astro.props;
---

<section class="projects">
  <div class="projects-grid">
    {
      projects.map(async (project) => (
        <div>
          {withoutImage && projectId === project.id ? (
            <div style="height: 457px, width: 100%" />
          ) : (
            // card
            <div transition:name={`card-${project.id}`} class="project">
              <div
                class="project__thumbnail-container"
                transition:name={`wrapper-${project.id}`}
              >
                <a href={`/projects/${project.id}`}>
                  <img
                    class="project__image"
                    src={project.src}
                    alt={project.id}
                    transition:name={`image-${project.id}`}
                  />
                </a>
              </div>

              <div class="project__content">
                <h3 class="project__title">{project.title}</h3>
                <p class="project__description">{project.description[0]}</p>

                <div
                  class="project__meta"
                  transition:name={`meta-${project.id}`}
                >
                  <div class="project__stacks">
                    {project.stack.map((stack) => {
                      return (
                        <small
                          class="tech-stack"
                          style={`background-color: ${stack.color}`}
                        >
                          {stack.name}
                        </small>
                      );
                    })}
                  </div>

                  <ul class="project__links">
                    <li>
                      <a
                        href="https://example.com/live"
                        target="_blank"
                        class="project__links-live"
                      >
                        live
                      </a>
                    </li>

                    <li>
                      <a
                        href="https://example.com/repo"
                        target="_blank"
                        class="project__links-github"
                      >
                        repo
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            // </div>
          )}
        </div>
      ))
    }
  </div>

  <div class="projects--mobile">
    <div class="projects__header">
      <h2 class="projects__header-title">
        Projects <span class="projects__header-count"
          >{`(${projects.length})`}</span
        >
      </h2>
    </div>

    <div class="projects__scroll">
      <div class="projects__list">
        <!-- NOTE: DYNAMIC -->
        {
          projects.map(async (project) => (
            <div class="project-card">
              {withoutImage && projectId === project.id ? (
                <div style="height: 200px" />
              ) : (
                // card
                <div transition:name={`card-${project.id}`} class="project">
                  <div
                    class="project__thumbnail-container"
                    transition:name={`wrapper-${project.id}`}
                  >
                    <img
                      class="project__image"
                      src={project.src}
                      alt={project.id}
                      transition:name={`image-${project.id}`}
                    />
                  </div>

                  <div class="project__content">
                    <h3 class="project__title">{project.title}</h3>
                    <p class="project__description">{project.summary}</p>

                    <div
                      class="project__meta"
                      transition:name={`meta-${project.id}`}
                    >
                      <ul class="project__links">
                        <li>
                          <a
                            href="https://example.com/live"
                            target="_blank"
                            class="project__links-live"
                          >
                            live
                          </a>
                        </li>

                        <li>
                          <a
                            href="https://example.com/repo"
                            target="_blank"
                            class="project__links-github"
                          >
                            repo
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                // </div>
              )}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  /* GRID */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
  }

  .project {
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    height: 100%;
  }

  .project__content {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    padding: 1.5rem;
  }

  .project__thumbnail-container {
    height: 14rem;
    overflow: hidden;
    border: 0.5px solid #555555;
  }

  .project__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
  }

  .project__image:hover {
    transform: scale(1.05);
  }

  .project__title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: black;
  }

  .project__description {
    color: #555555;
    text-decoration: none;
    list-style: none;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: calc(1.5em * 3);
  }

  .project-card:hover .project-card__image {
    transform: scale(1.05);
  }

  /* META */
  .project__meta {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .project__stacks {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  /* NOTE: MOBILE */
  .projects--mobile {
    display: none;
  }

  .projects__header {
    display: flex;
    justify-content: space-between;
  }

  .projects__header-title {
    font-size: 1.125rem;
  }

  .projects__header-count {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .projects__scroll {
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .projects__list {
    display: flex;
    gap: 1rem;
    min-width: max-content;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  .project-card {
    display: grid;
    flex-direction: column;
    gap: 0.5rem;
    width: 12.5rem;
  }

  .project-card__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition:
      transform 0.4s ease,
      object-position 0.4s ease;
  }

  .project-card__thumbnail:hover {
    object-position: center center;
    object-fit: cover;
  }

  .project-card__buttons {
    display: flex;
  }

  .project-card__btn {
    text-decoration: none;
    padding: 0.25rem 0.75rem;
    color: hsl(var(--clr-dark-800));
    font-size: var(--fs-300);
  }

  @media (max-width: 1228px) {
    .project__image {
      object-fit: contain;
    }
  }

  /* MEDIA */
  @media (max-width: 50em) {
    .projects--mobile {
      max-width: 28.75rem;
      background-color: white;
      color: black;
      border-radius: 1.5rem;
      padding: 0.75rem 0 0.75rem 0.75rem;
      display: grid;
      gap: 0.75rem;
      max-height: 24rem;
    }

    .project__image {
      object-fit: cover;
    }
    .project__description {
      -webkit-line-clamp: 2;
    }
    .projects-grid {
      display: none;
    }

    .project__title {
      margin-top: 1.5rem;
      margin-bottom: 0;
    }

    .project {
      margin-bottom: 0.5rem;
    }

    .project__content {
      padding: 0;
      gap: 0.5rem;
    }

    .project__description {
      font-size: 0.875rem;
    }

    .projects__list {
      padding-bottom: 0;
    }

    /* .project__meta {
      margin-top: 0 auto;
    } */

    .project__thumbnail-container {
      height: 9rem;
      border-radius: 0.5rem;
    }
  }
</style>

<!-- NOTE: -->
