---
import { ClientRouter } from "astro:transitions";

interface Props {
  artId?: string;
  title: string;
  projectId?: string;
  blogId?: string;
  description?: string;
  data?: {
    title: string;
    cover: ImageMetadata;
    coverAlt: string;
    description?: string;
    inlineImages?: Array<{ src: string; alt: string }>;
  };
}

const { title, projectId, blogId, description, artId } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Archivo+Black&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Gaegu&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
    <ClientRouter />

    <!-- Project transitions -->
    {
      projectId && (
        <style
          is:global
          set:html={`
        ::view-transition-old(card-${projectId}),
        ::view-transition-new(card-${projectId}) {
          animation: none;
          mix-blend-mode: normal;
          height: 100%;
          overflow: clip;
        }

        ::view-transition-old(image-${projectId}),
        ::view-transition-new(image-${projectId}) {
          animation: none;
          mix-blend-mode: normal;
          height: 100%;
          overflow: clip;
        }

        ::view-transition-new(image-${projectId}) {
          animation: spring-scale-in 600ms cubic-bezier(0.22, 1, 0.36, 1);
        }

        ::view-transition-new(meta-${projectId}) {
          animation:
            90ms cubic-bezier(0.4, 0, 1, 1) both fade-in,
            300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom-2;
          animation-delay: 250ms;
        }

        ::view-transition-new(description-${projectId}) {
          animation:
            90ms cubic-bezier(0.4, 0, 1, 1) both fade-in,
            300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom;
          animation-delay: 250ms;
        }

        ::view-transition-group(card-${projectId}) {
          z-index: 1;
        }

        ::view-transition-group(meta-${projectId}){
              z-index: 4;
        }
     
        ::view-transition-group(image-${projectId})  {
          z-index: 2;
        }

        ::view-transition-group(description-${projectId})  {
          z-index: 2;
        }

        @keyframes fade-in {
          from { opacity: 0; }
        }

        @keyframes fade-out {
          to { opacity: 0; }
        }

        @keyframes slide-from-bottom {
          from { transform: translateY(30px); }
        }

        @keyframes slide-from-bottom-2 {
          from { transform: translateY(10px); }
        }

        @keyframes spring-scale-in {
          0% { transform: scale(0.8); }
          60% { transform: scale(1.002); }
          100% { 
            transform: scale(1);
          }
        }
      `}
        />
      )
    }

    <!-- Blog transitions -->
    <!-- {
      blogId && (
        <style
          is:global
          set:html={`
        ::view-transition-old(blog-image-${blogId}),
        ::view-transition-new(blog-image-${blogId}) {
          animation: none;
          mix-blend-mode: normal;
          height: 100%;
          overflow: clip;
        }

        ::view-transition-group(blog-image-${blogId}) {
          z-index: 4;
          animation-duration: 2000ms !important;
          animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1) !important;
        }

        ::view-transition {
          animation-duration: 2000ms !important;
          animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1) !important;
        }
      `}
        />
      )
    } -->

    <!-- Image (Arts) transitions -->
    {
      artId && (
        <style
          is:global
          set:html={`
        ::view-transition-group(art-wrapper-${artId}) {
          animation-duration: 400ms;
          animation-timing-function: cubic-bezier(0.35, 1.2, 0.4, 1);
          z-index: 5;
        }

        ::view-transition-old(art-wrapper-${artId}),
        ::view-transition-new(art-wrapper-${artId}) {
          mix-blend-mode: normal;
          height: 100%;
          overflow: clip;
          animation-duration: 400ms;
          animation-timing-function: cubic-bezier(0.35, 1.2, 0.4, 1);
        }

        ::view-transition-old(art-wrapper-${artId}) {
          object-fit: contain;
          animation: fade-out 400ms cubic-bezier(0.35, 1.2, 0.4, 1);
        }

        ::view-transition-new(art-wrapper-${artId}) {
          object-fit: cover;
          animation: fade-in 400ms cubic-bezier(0.35, 1.2, 0.4, 1);
        }

        ::view-transition-group(art-image-${artId}) {
          animation-duration: 400ms;
          animation-timing-function: cubic-bezier(0.35, 1.2, 0.4, 1);
          z-index: 6;
        }


        ::view-transition-group(overlay) {
          z-index: 1;
          animation-duration: 450ms;
          animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        ::view-transition-old(art-image-${artId}),
        ::view-transition-new(art-image-${artId}) {
          mix-blend-mode: normal;
          height: 100%;
          overflow: clip;
          animation-duration: 400ms;
          animation-timing-function: cubic-bezier(0.35, 1.2, 0.4, 1);
        }

        ::view-transition-old(art-image-${artId}) {
          animation: fade-out 400ms cubic-bezier(0.35, 1.2, 0.4, 1);
        }

        ::view-transition-new(art-image-${artId}) {
          animation: fade-in 400ms cubic-bezier(0.35, 1.2, 0.4, 1);
        }

        @keyframes spring-fade-in {
          0% { 
            opacity: 0;
            transform: scale(0.98);
          }
          60% {
            opacity: 1;
            transform: scale(1.012);
          }
          100% { 
            opacity: 1;
            transform: scale(1);
          }
        }

        @keyframes spring-fade-out {
          0% { 
            opacity: 1;
            transform: scale(1);
          }
          100% { 
            opacity: 0;
            transform: scale(0.98);
          }
        }

        @keyframes fade-in {
          0% { 
            opacity: 0;
            transform: scale(0.98) translateY(4px);
          }
          60% {
            opacity: 1;
            transform: scale(1.012) translateY(-1.2px);
          }
          100% { 
            opacity: 1;
            transform: scale(1) translateY(0);
          }
        }

        @keyframes fade-out {
          0% { 
            opacity: 1;
            transform: scale(1) translateY(0);
          }
          100% { 
            opacity: 0;
            transform: scale(0.98) translateY(4px);
          }
        }
      `}
        />
      )
    }
  </head>

  <body>
    <slot />
  </body>
</html>
